<aside>
    <nav>
        <ul class="nav nav-pills pull-right">
            <li><a href="/admin/home-slider">Banner Slider</a></li>
            <li><a href="/admin/create-banner">View Banner Slider</a></li>
            <li><a href="/admin/posts">Create Post</a></li>
            <li><a href="/admin/create-post">View Posts</a></li>
            <li><a href="/admin/breaking">Breaking News</a></li>
            <li><a href="/admin/create-breaking">View Breaking News</a></li>
            <li><a href="/admin/create-category">View Categories</a></li>
            <li><a href="/admin/e-paper">E-Paper</a></li>
            <li><a href="/admin/create-e-paper">View E-Papers</a></li>
            <li><a href="/admin/youtube">Youtube</a></li>
            <li><a href="/admin/create-youtube">View Youtube</a></li>
            
        </ul>
    </nav>
</aside>