<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container-fluid">

        <%- include('partials/header') %>
        <div class="row no-gutters">
            <div class="col-auto">
                <%- include('partials/menu') %>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-6">
                        <section class="main-body">
                        <h2>Create New Post</h2>
                        <form action="/create-e-paper" method="POST" enctype="multipart/form-data">
                            
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Select Date</label>
                                <input type="date" class="form-control" name="selectDate">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">File Upload</label>
                                <input type="file" class="form-control-file" name="Epaper">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <%- include('partials/footer') %>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
        
</body>

</html>